body{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* apni css */
/* header css */
.header{
  background-color: rgb(29, 27, 27);
  height: 100px;
  /* display: flex;
  flex-wrap: wrap; */
}
.logo{
  margin: 25px 25px;
  float: left;
  font-size: 25px;
  color: rgb(237, 4, 4);
}

.search-input-box{
  display: flex;
  float: left;
  margin: 25px;
}
.search-input-box input{
  width: 250px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
}

.cart-div{
  margin: 20px;
  float: right;
}
.cart-div img{
  width: 50px;
  height: 50px;
}
.cart-div span{
  width: 20px;
  height: 20px;
  background: rgb(237, 4, 4);
  border-radius: 50%;
  padding: 0px 0px;
  position: absolute;
  top: 24px;
  right: 22px;
  color: #fff;
}

/* header css */

/* product home css */
.product-container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.product-item{
  border: 2px solid #8f9396;
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
}
.product-item img{
 width: 200px;
 margin-bottom: 20px;
}
.product-item div{
  font-size: 18px;
  color: #57595b;
  margin-bottom: 5px;
}
/* product home css */


/* cart page css */
.cart-container{
  margin: 25px;
}
.cart-container span{
  float: left;
}
.cart-container h3{
  text-transform: capitalize;
}

.cart-container-details{
  display: flex;
  margin: 25px;
}
.cart-container-details table{
  flex: 60%;
  border-collapse: collapse;
  
}

.cart-container-details table th, td{
  border: 1px solid #8f9396;
  padding: 15px;
}

.cart-container-details .cart-img {
  width: 100px;
  height: auto;
}

.cart-container-details .price-details{
  flex: 30%;
  margin: 0px 25px;
}
.price-details .adjust-price{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #8f9396;
  padding-top: 20px;
}
.price-details .adjust-price span{
  font-size: 20px; 
}
/* cart page css */

@keyframes App-logo-spi0px 25pxn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
